body{
margin: 0;
padding: 0;


}




.bg-container{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(60deg, rgb(247, 214, 116), rgb(242, 171, 84), rgb(244, 120, 120) ); /* We are modifying here ! */
    background-size: 600% 600%;
    animation: bgAnimatedGradient 10s infinite linear;

}

h1{
    text-align: center;
    padding-top: 16%;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    letter-spacing: 3px;
    color: white;
    margin: 0; 


}

@keyframes bgAnimatedGradient{
    0%{
        background-position: 0 85%;

    }
    50%{
        background-position: 100% 20%;

    }
    100%{
        background-position:  0  85%;

    }

}

.images{
float:left; 
margin-left: 12vw;

}

.content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.contentSection{
gap:2vw;
display: flex;
flex-direction: row;

}

.contentDiv{
    border-radius: 20px; 
    background-color: antiquewhite; 
    font-size: 30px; 
    font-family: 'Montserrat', sans-serif; 
    color: rgb(206, 153, 84); 
    border-color: antiquewhite; 
    width:20vw; 
    height:40vh; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentColors{
    border-radius: 20px; 
    font-size: 30px; 
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif; 
    color: burlywood; 
    border-color: antiquewhite; 
    width:15vw; 
    height:30vh; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column; 
}

