body{
margin: 0;
padding: 0;
cursor: none;

}

.custom-cursor{
    max-width: 5px;
    max-height: 5px;
    cursor: url("images/Pusheen_Espresso_Cup__Hand--cursor--SweezyCursors_1_50.png"), auto;
}

.custom-pointer{
    width: 5px;
    height: 5px;
    cursor: url("images/Pusheen_Espresso_Cup__Hand--pointer--SweezyCursors_50.png"), pointer;
}

/*
.custom-cursor:hover{
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%) scale(1.5);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: url("images/Pusheen Espresso Cup & Hand--pointer--SweezyCursors..cur"), pointer;
}
*/

.bg-container{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(60deg, #c5f9d7, #f7d486, #f27a7d);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 10s infinite linear;

}

h1{
    text-align: center;
    padding-top: 16%;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    letter-spacing: 3px;
    color: white;
    margin: 0; 


}

@keyframes bgAnimatedGradient{
    0%{
        background-position: 0 85%;

    }
    50%{
        background-position: 100% 20%;

    }
    100%{
        background-position:  0  85%;

    }

}
